[run]
branch = True

[report]
# Regex to exclude form coverage
exclude_lines =
    pragma: no cover

    raise AssertionError
    raise NotImplementedError

# display missing lines in summary
show_missing = True

[html]
directory = coverage_report
title = cov
